## String

In [308]:
# 1) Aşağıdaki String'in 5. harfini my_letter isimli bir değişkene atayınız.

In [309]:
my_string = "James Hetfield"

In [310]:
type(my_string)

str

In [311]:
my_letter = my_string[4]

In [312]:
my_letter

's'

In [313]:
type(my_letter)

str

---------------

In [314]:
# Aşağıdaki String'in 5. ve 8. karakteri arasındaki tüm harflerini yazdırınız (5 ve 8 dahil)

In [315]:
my_new_string = "QuentinTarantino"

In [316]:
my_new_string[0]

'Q'

In [317]:
my_new_string[-1]

'o'

In [318]:
my_new_string[4:8]

'tinT'

*****************************************************************

In [319]:
# Aşağıdaki String'i kod ile tersten yazın

In [320]:
my_last_string = "Afyonkarahisarlılaştıramadıklarımızdanmısınız"

In [321]:
my_last_string[::-1]

'zınısımnadzımıralkıdamarıtşalılrasiharaknoyfA'

--------------------------------

## Integer & Float

In [322]:
# 1) Aşağıdaki işlemin sonucu hangi veri tipinde olacaktır?

3 + 10.2 + 50

In [323]:
myAnswer= 3 + 10.2 + 50

In [324]:
type(myAnswer)

float

In [325]:
# 2) Aşağıdaki işlemin sonucu kaçtır?

5 + 8 * 12

In [326]:
myAnswer_2 = 5+8*12
myAnswer_2

101

## List & Dictionary & Set

In [327]:
# 1) Bu listeyi 3 farklı yoldan oluşturunuz: [1,2,"a"]

In [328]:
newList = [1,2,"a"]
newList

[1, 2, 'a']

In [329]:
newSet = {1,2,"a"}
newSet

{1, 2, 'a'}

In [330]:
new_list = list(newSet)
type(new_list)

list

In [331]:
new_list

[1, 2, 'a']

In [332]:
my_dict = {"key1" : [1,2,"a"]}

In [333]:
type(my_dict["key1"])

list

In [334]:
my_dict["key1"]

[1, 2, 'a']

Aşağıdaki "a" yı tek satırda alınız:

In [335]:
my_list = [1,4,[2,3,"a"]]

In [336]:
my_list[2][2]

'a'

In [337]:
# 3) Aşağıdaki "b"'yi tek satırda alınız:

In [338]:
my_dictionary = {"k1":2, "kk":[4,{"kkkk":"b"}]}

In [339]:
((my_dictionary["kk"])[1])["kkkk"]

'b'

In [340]:
# 4) Aşağıdaki liste set'e çevirilince hangi değerler içinde kalacaktır?

In [352]:
my_list_to_be_set = [11,12,22,33,11,22,45,32,21,22,33,45]
type(my_list_to_be_set)

list

In [353]:
the_set = set(my_list_to_be_set)
the_set

{11, 12, 21, 22, 32, 33, 45}

set veri tipinde aynı değerler sadece bir kere alınır

## Boolean

In [343]:
# 1) Aşağıdaki ifadenin sonucu ne olacaktır?

In [344]:
x = 40 * 5 + 3

In [345]:
y = 208 - 2 * 4

x > y

In [346]:
# Cevap 1)

In [347]:
# 2) Aşağıdaki ifadenin sonucu ne olacaktır?

In [348]:
a = 40 * (4 - 2)

In [349]:
b = 80 - 2 * -5

a > b

In [350]:
# Cevap 2)