In [1]:
my_string = "Muhammet Can Şimşek"
my_string.upper()

'MUHAMMET CAN ŞIMŞEK'

In [2]:
my_string.split()

['Muhammet', 'Can', 'Şimşek']

In [3]:
type(my_string.split())

list

In [4]:
help(my_string.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

In [5]:
def hello_world():
    print("Hello World!")
    print("**************************")

In [6]:
hello_world

In [7]:
hello_world()

Hello World!
**************************

# INPUT & RETURN

In [8]:
def hello_programming(name):
    print("Hello", f"{name}")

In [9]:
hello_programming("Python")

Hello Python

In [10]:
hello_programming("Java")

Hello Java

In [11]:
def hello_program(name = "python"):
    print("Hello")
    print(name)

In [12]:
hello_program()

Hello
python

In [13]:
hello_program("java")

Hello
java

In [14]:
def sum(n1, n2):
    return n1+n2

In [15]:
sum(57,64.7)

121.7

In [16]:
def faktoriyel(sayi):
    
    if sayi == 1 & sayi == 0:
        return 1
    else:
        return sayi * faktoriyel(sayi-1)

In [17]:
faktoriyel(5)

120

#Arbitrary arguments & key word arguments

In [18]:
def my_func(*args):
    print(args)

In [19]:
my_func(10,20)

(10, 20)

In [20]:
my_func(10,20,"Atıl","Udemy")

(10, 20, 'Atıl', 'Udemy')

In [21]:
def example_func(**kwargs):
    print(kwargs)

In [22]:
example_func(run=100, swim=200, basketball=300)

{'run': 100, 'swim': 200, 'basketball': 300}