In [1]:
range(20)

range(0, 20)

In [2]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
for numb in list(range(5,21,3)):
    print(numb)

5
8
11
14
17
20

In [4]:
index = 0
for myNumber in list(range(5,15)):
    print(f"index:{index} no:{myNumber}")
    index += 1

index:0 no:5
index:1 no:6
index:2 no:7
index:3 no:8
index:4 no:9
index:5 no:10
index:6 no:11
index:7 no:12
index:8 no:13
index:9 no:14

In [5]:
for number in enumerate(list(range(5,21))):
    print(number)

(0, 5)
(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)
(6, 11)
(7, 12)
(8, 13)
(9, 14)
(10, 15)
(11, 16)
(12, 17)
(13, 18)
(14, 19)
(15, 20)

In [6]:
from random import randint

In [7]:
randint(0,1000)

904

In [8]:
my_list2 = list(range(10))
my_list2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
from random import shuffle

In [10]:
shuffle(my_list2)
my_list2

[8, 3, 6, 2, 7, 4, 1, 5, 9, 0]

#ZIP

In [11]:
sports_list = ["basketball", "swim", "run"]

In [12]:
calories_list = [100,200,300]

In [13]:
day_list = ["monday", "tuesday", "wednesday"]

1.Yol

In [14]:
for iter1,iter2,iter3 in zip(sports_list, calories_list, day_list):
    print(iter1,iter2,iter3)

basketball 100 monday
swim 200 tuesday
run 300 wednesday

2.Yol

In [15]:
new_list = list(zip(sports_list, calories_list, day_list))
new_list

[('basketball', 100, 'monday'),
 ('swim', 200, 'tuesday'),
 ('run', 300, 'wednesday')]

LIST ADVANCED

In [16]:
new_list = []
my_string = "metallica"

for item in my_string:
    new_list.append(item)
new_list

['m', 'e', 't', 'a', 'l', 'l', 'i', 'c', 'a']

In [17]:
type(my_string)

str

In [18]:
character_list = [char for char in my_string]
print(character_list)

['m', 'e', 't', 'a', 'l', 'l', 'i', 'c', 'a']